@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
  --primary: #f97316;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  cursor: none; /* <--- Hides the default cursor! */
}

/* Also hide cursor for links and buttons so our custom one shows */
a, button, input, textarea {
  cursor: none !important; 
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}